.bio img {
    height: 250px;
    border-radius: 50%;
    padding: 10px 20px 10px 20px;
    vertical-align: middle;
    display: inline-block;
}

.bio {
    padding: 50px;
    background-color: #E8F7FF;
    overflow: hidden;
    text-align: center;
}

.realbio {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}